body {
  background-color: #f8f9fa;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.chat-container {
  display: flex;
  height: 100vh;
  max-width: 100%;
  overflow: hidden;
}

.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #212529;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-logo {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.sidebar-logo img {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.sidebar-logo-text {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

.main-content {
  flex: 1;
  overflow-y: auto;
  padding: 30px 70px;
}

.chat-messages {
  margin-top: 20px;
}

.message {
  margin-bottom: 15px;
}

.user-message {
  background-color: #e9ecef;
  border-radius: 10px;
  padding: 10px;
}

.bot-message {
  background-color: #d1ecf1;
  border-radius: 10px;
  padding: 10px;
}

.input-group {
  border-top: 1px solid #dee2e6;
  padding: 10px;
  background-color: #fff;
}

.form-control {
  border-radius: 10px;
  padding: 10px 20px;
  border: none;
}

.goal-btn {
  border: none;
  background-color: #fff;
  color: #212529;
  font-size: 20px;
  font-weight: bold;
  transition: background-color 0.3s;
  margin-right: 34px;
}

.goal-btn:hover {
  opacity: 0.5;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
  left: 250px;
  width: calc(100% - 250px);
  z-index: 1030;
}

.nav-link {
  cursor: pointer;
}

.locked {
  opacity: 0.5;
  color: #fff;
}

.logout {
  color: #fff;
  margin-top: 20px;
  text-decoration: none;
  font-weight: 600;
}

.logout i {
  margin-right: 10px;
}

.profile-link {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.det-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.level-cont {
  display: flex;
  align-items: center;
}

.count {
  margin-left: 10px;
}

.score {
  font-weight: bold;
}

.lev {
  color: white;
  font-weight: 600;
}

.bottom-cont {
  display: flex;
  align-items: center;
}

.headertext {
  color: #fffa;
}

.user-image-container {
  height: 40px;
  width: 40px;
  margin-right: 15px;
}

.user-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 9px;
}

.denoter {
  font-weight: bold;
}

.closeIcon{ 
  display: none;
}


.openIcon {
  font-size: 24px;
  display: none;
}
.openIcon:hover {
  color: #2125298e;
}

.levelLabel {
  font-weight: 600;
  font-size: 20px;
}

@media (max-width: 576px) {
  .sidebar {
    position: fixed;
    z-index: 10000;
    height: 100%;
    transition: margin 0.5s ease-in-out, width 0.5s ease-in-out;
    margin-left: -100%;
  }

  .sidebar.open {
    margin-left: 0;
  }

  .main-content {
    padding: 0;
  }

  .det-cont {
    background-color: white;
    height: 50px;
    padding: 0 20px;
    width: 100%;
    position: fixed;
    z-index: 99;
  }

  .chat-box {
    padding: 0 20px;
    position: relative;
    top: 60px;
  }

  .openIcon {
    display: block;
  }

  .goal-btn {
    padding: 8px 10px;
    margin-right: 10px;
  }

  .fixed-bottom {
    left: 0;
    width: 100vw;
  }

  .sidebar-logo img {
    width: 30px;
    margin-right: 5px;
  }

  .sidebar-logo-text {
    font-size: 16px;
  }  

  .closeIcon{ 
    display: block;
    color: rgba(255, 255, 255, 0.897);
    position: absolute;
    font-size: 30px;
    right: 30px;
    margin-top: -10px;
  }

  .closeIcon:hover{
    color: royalblue;
  }
}
